:root {
  --color-grey: #445162;
  --color-white: #fff;
}

html,
body {
  height: 100%;
  font-family: Sans-serif;
}

p {
  font-size: 114.285714%; /* 16/14 */
}

.content-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 10px 10px 10px;
}

header {
  background-color: #445162;
}
.header-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header .block-hello {
  color: #fff;
}
header .block-hello .hello {
  font-size: 342.857143%; /* 48/14 */
  padding: 0px 0px 30px 0px;
}
header .block-hello ul {
  padding: 0px 10px 0px 0px;
}
header .block-hello ul li {
  font-size: 16px;
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 25px;
  background: url("../img/icons/icon-check.png") 0 -2px no-repeat;
}
header .header-img {
  display: flex;
  align-items: center;
}
header .header-img img {
  max-width: 100%;
  height: auto;
}

.content {
  flex: 1 1 auto;
}

.flexbox {
  padding: 50px 0px 20px 0px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.flexbox .flexbox-img {
  width: 100%;
  height: auto;
  margin-right: 15px;
}
.flexbox .flexbox-content {
  padding: 10px 0px 0px 10px;
}
.figure-block-text {
	/* padding: 0px 15px 0px 0px; */
  }
.flexbox .flexbox-content h2 {
  font-size: 228.571429%; /* 32/14 */
  color: #445162;
  text-align: center;
  margin-bottom: 30px;
}
.flexbox .flexbox-content p {
  margin: 0px 15px 30px 0px;
  text-align: justify;
}

.figure-text {
	padding-right: 15px;
}
@media (max-width: 800px) {
  .flexbox {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .hello {
    font-size: medium;
  }
  .header-img,
  .flexbox-img {
    text-align: center;
    justify-content: space-around;
  }
}
@media (max-width: 600px) {
  .__container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .hello {
    text-align: center;
    font-size: 187.5%; /* 30/16 */
  }
  .flexbox-label {
    margin: 0px 0px 20px 0px;
  }
  .figure {
	padding: 0px 20px;
  }
  .figure-block-text {
	/* margin: 0px 0px 0px 15px; */
  }

}
.figure-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .figure-wrap {
    justify-content: space-around;
    margin: 0px -20px;
  }
}
.figure-wrap .figure {
  max-width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
}
@media (max-width: 900px) {
  .figure-wrap .figure {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .figure-wrap .figure {
    max-width: 400px;
    flex-direction: column;
    align-items: center;
  }
}
.figure-wrap .figure .figure-img {
  padding: 0px 20px 20px 0px;
  width: 250px;
  height: 150px;
}
.figure-wrap .figure-block-text {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px 10px;
}

.figure-wrap .figure .figure-block-text .figure-label {
  text-align: center;
  color: #445162;
  font-size: 142.857143%; /* 20/14 */
  margin-bottom: 20px;
}
.figure-wrap .figure .figure-block-text .figure-	text {
  padding: 0px 10px;
  text-align: justify;
} 

// section

.section-vertical-blocks {
	/* justify-content: center; */
}
h2 {
  text-align: center;
  color: #445162;
  font-size: 2rem;
}

.columns {
  display: flex;
  flex-dicoration: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  
}
.section-vertical-blocks > h2 {
  margin-bottom: 30px;
}
.figure-colums {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
}
.figure-colums-title, .figure-colums-subtitle {
	/* width: 100%; */
}
.figure-colums-title {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--color-grey);
  padding: 15px;
  color: var(--color-white);
}
.figure-colums-subtitle {
  padding: 20px;
  background-color: var(--color-white);
  color: var(--color-grey);
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  box-sizingL border-box;
  border: 1px solid var(--color-grey);
}
.figure-colums-text {
  background-color: var(--color-grey);
  display: flex;
  flex-content: column;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: space-between;
}
.figure-colums-text p {
  color: var(--color-white);
  padding: 10px;
  text-align: justify;
}
.figure-colums-text p:last-of-type {
  margin-bottom: 0px;
}
.subscribe-btn {
  width: 100%;
  height: 50px;

  font-size: 20px;
  text-transform: uppercase;
  margin: 10px;
  bottom: 10px;
  border-radius: 5px;
}
.subscribe-btn:hover {
	background-color: #fff; 
	cursor: pointer;
	box-shadow: 0 0 10px grey;
}
footer {
	margin-top: 50px;
	padding: 20px;
	text-align: center;
	border-top: 1px solid var(--color-grey);
}
